Repository NewShiftStudio/gour-api-gateway, pull requests merged in 2022-10, with the labels that each got.

#35 fix: 🐛 эндпоинт со скидками у категорий
  src/common/dto/category.dto.ts
  src/features/category/category.controller.ts
  src/features/discount/discount.controller.ts
Labels: fix

#37 ОБНОВИТЬ .ENV на стендах feat: 🎸 авторизация как пользователь из аккаунта админа
  .example.env
  src/common/interceptors/sentry.interceptor.ts
  src/common/services/cookie.service.ts
  src/features/auth/auth.controller.ts
  src/features/auth/dto/sign-in.dto.ts
  src/features/client-auth/client-auth.controller.ts
  src/features/client/client.controller.ts
  src/main.ts
Labels: feat

#39 Добавил возможность обращаться к апи моего склада и получать остатки, пофиксил текст ошибки
  src/app.module.ts
  src/common/guards/auth.guard.ts
  src/features/warehouse/dto/get-stock-of-product.dto.ts
  src/features/warehouse/dto/stock.dto.ts
  src/features/warehouse/warehouse.controller.ts
Labels: feat, hotfix

#42 fix: 🐛 отображение страниц с информацией для неавторизованного
  src/features/page/page.controller.ts
Labels: fix

#47 fix: 🐛 удаление пользователей и их роли
  src/features/auth/dto/sign-in.dto.ts
  src/features/auth/dto/sign-up-without-password.dto.ts
  src/features/user/dto/create-user.dto.ts
  src/features/user/dto/update-user.dto.ts
  src/features/user/user.controller.ts
Labels: fix

#45 fix: 🐛 без редактирования цены
  src/features/product/dto/product-create.dto.ts
  src/features/product/dto/product-update.dto.ts
Labels: fix

#44 fix: 🐛 create/update dto
  src/features/promotion/dto/promotion-create.dto.ts
  src/features/promotion/dto/promotion-update.dto.ts
Labels: fix

#46 feat: ручка удаления игровой жизни
  src/app.module.ts
  src/common/dto/category.dto.ts
  src/features/client-auth/current-user.controller.ts
  src/features/discount/discount.controller.ts
Labels: feat

#49 feat: 🎸 Добавил ручки для кошелька
  src/features/wallet/dto/wallet-replenish-balance.ts
  src/features/wallet/wallet.controller.ts
Labels: feat

#48 feat: 🎸 Добавил ручки для платежной системы
  src/app.module.ts
  src/common/dto/invoice.dto.ts
  src/common/types/App.ts
  src/features/client/client.controller.ts
  src/features/client/dto/client-create.dto.ts
  src/features/payment/dto/create-invoice.dto.ts
  src/features/payment/dto/pay.dto.ts
  src/features/payment/payment.controller.ts
Labels: feat
