Repository NewShiftStudio/gour-api-gateway, pull requests merged in 2022-11, with the labels that each got.

#53 feat: 🎸 Добавил ручки для платежки и кошелька
  src/common/dto/invoice.dto.ts
  src/features/payment/dto/check-3d-secure.dto.ts
  src/features/payment/dto/pay.dto.ts
  src/features/payment/payment.controller.ts
  src/features/wallet/dto/wallet-buy-coins.dto.ts
  src/features/wallet/wallet.controller.ts
Labels: feat

#65 feat: 🎸 обновление статуса заказа
  src/features/order/dto/order-create.dto.ts
  src/features/order/dto/update-order-status.dto.ts
  src/features/order/order.controller.ts
  src/features/warehouse/warehouse.controller.ts
Labels: feat

#66 fix: 🐛 обновление статуса заказа по токену
  src/features/order/order.controller.ts
Labels: fix

#51 fix: 🐛 дто на редактирование страниц информации с баннером
  src/features/page/dto/page-create.dto.ts
  src/features/page/dto/page-update.dto.ts
Labels: fix, feat
