Repository NewShiftStudio/gour-api-gateway, pull requests merged in 2022-09, with the labels that each got.

#21 fix: валидация строк и текста, перехват ошибок
  src/common/dto/translatable-string-create.dto.ts
  src/common/dto/translatable-text-create.dto.ts
  src/common/interceptors/errors.interceptor.ts
  src/features/product/dto/product-create.dto.ts
  src/features/product/product.controller.ts
Labels: fix

#20 feat: подключения сервиса авторизации
  src/app.module.ts
  src/common/dto/translatable-string-create.dto.ts
  src/common/dto/translatable-text-create.dto.ts
  src/common/interceptors/errors.interceptor.ts
  src/features/access/access.controller.ts
  src/features/access/dto/create-access.dto.ts
  src/features/access/dto/update-access.dto.ts
  src/features/auth/auth.controller.ts
  src/features/auth/dto/sign-in.dto.ts
  src/features/auth/dto/sign-up-without-password.dto.ts
  src/features/auth/dto/sign-up.dto.ts
  src/features/product/dto/product-create.dto.ts
  src/features/product/product.controller.ts
  src/features/role/dto/create-role.dto.ts
  src/features/role/dto/update-role.dto.ts
  src/features/role/role.controller.ts
  src/features/user/dto/create-user.dto.ts
  src/features/user/dto/update-user.dto.ts
  src/features/user/user.controller.ts
Labels: feat

#22 bugs
  src/features/auth/auth.controller.ts
  src/features/auth/dto/forgot-password.dto.ts
  src/features/client-auth/client-auth.controller.ts
  src/features/client-auth/dto/sign-in.dto.ts
  src/features/referral-code/referral-code.controller.ts
Labels: bug, feat

#30 feat: change auth for email code
  src/features/client-auth/dto/sign-up.dto.ts
Labels: feat
